In [16]:
import hopsworks
import pandas as pd
import joblib
import os
import numpy as np
from sklearn.metrics import confusion_matrix
from matplotlib import pyplot
import seaborn as sns

xFjUzEB8badqAo3Z.5gLKrqjqOVPprBjEk7ydaNfzODftui5KSMbLiiTQwBfLTc8KbK8FiqgJ2Niboimt

In [17]:
# Define version numbers for feature view and model
FV_VERSION = 1
MODEL_VERSION = 1

In [18]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1043609
Connected. Call `.close()` to terminate connection gracefully.

In [11]:
df_trucks = pd.read_csv(
    '/Users/rammaruthi/Desktop/Truck/data/cleaned/df_trucks_cleaned.csv')
df_truck_schedule = pd.read_csv(
    '/Users/rammaruthi/Desktop/Truck/data/cleaned/df_truck_schedule_cleaned.csv')
df_traffic = pd.read_csv(
    '/Users/rammaruthi/Desktop/Truck/data/cleaned/df_traffic_cleaned.csv')
df_routes_weather = pd.read_csv(
    '/Users/rammaruthi/Desktop/Truck/data/cleaned/df_routes_weather_cleaned.csv')
df_routes = pd.read_csv(
    '/Users/rammaruthi/Desktop/Truck/data/cleaned/df_routes_cleaned.csv')
df_drivers = pd.read_csv(
    '/Users/rammaruthi/Desktop/Truck/data/cleaned/df_drivers_cleaned.csv')
df_city_weather = pd.read_csv(
    '/Users/rammaruthi/Desktop/Truck/data/cleaned/df_city_weather_cleaned.csv')

In [12]:
df_trucks

,index,truck_id,truck_age,load_capacity_pounds,mileage_mpg,fuel_type,event_date
0,0,42302347,10,3000.0,17,gas,2024-09-19
1,1,27867488,14,10000.0,22,diesel,2024-09-19
2,2,13927774,8,10000.0,19,gas,2024-09-19
3,3,69577118,8,20000.0,19,gas,2024-09-19
4,4,28650047,10,4000.0,21,diesel,2024-09-19
...,...,...,...,...,...,...,...
1196,1295,17792974,11,4000.0,22,diesel,2024-09-19
1197,1296,17248432,11,6000.0,22,diesel,2024-09-19
1198,1297,21865328,10,3000.0,15,gas,2024-09-19
1199,1298,33564827,11,15000.0,24,diesel,2024-09-19
1200,1299,34755903,12,4000.0,25,diesel,2024-09-19

In [21]:
df_trucks['event_date'] = pd.to_datetime(df_trucks['event_date'])

In [31]:
df_trucks

,index,truck_id,truck_age,load_capacity_pounds,mileage_mpg,fuel_type,event_date
0,0,42302347,10,3000.0,17,gas,2024-09-19
1,1,27867488,14,10000.0,22,diesel,2024-09-19
2,2,13927774,8,10000.0,19,gas,2024-09-19
3,3,69577118,8,20000.0,19,gas,2024-09-19
4,4,28650047,10,4000.0,21,diesel,2024-09-19
...,...,...,...,...,...,...,...
1196,1295,17792974,11,4000.0,22,diesel,2024-09-19
1197,1296,17248432,11,6000.0,22,diesel,2024-09-19
1198,1297,21865328,10,3000.0,15,gas,2024-09-19
1199,1298,33564827,11,15000.0,24,diesel,2024-09-19
1200,1299,34755903,12,4000.0,25,diesel,2024-09-19

In [22]:

feature_group_trucks = fs.create_feature_group(
    name='trucks_features',
    version=1,
    description='Features from Dataset trucks',
    primary_key=['index'],  # Set the primary keys for the dataset
    online_enabled=True,
    event_time='event_date'
)

# Insert data into feature group
feature_group_trucks.insert(df_trucks)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1043609/fs/1035336/fg/1203537

Uploading Dataframe: 0.00% |          | Rows 0/1201 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: trucks_features_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1043609/jobs/named/trucks_features_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x16400c0b0>, None)

In [23]:
df_truck_schedule['event_date'] = pd.to_datetime(df_truck_schedule['event_date'])

In [24]:

feature_group_truck_schedule = fs.create_feature_group(
    name='trucks_schedule_features',
    version=1,
    description='Features from Dataset trucks_schedule',
    primary_key=['index'],  # Set the primary keys for the dataset
    online_enabled=True,
    event_time='event_date'# If you want online feature serving
)

# Insert data into feature group
feature_group_truck_schedule.insert(df_truck_schedule)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1043609/fs/1035336/fg/1202519

Uploading Dataframe: 0.00% |          | Rows 0/12308 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: trucks_schedule_features_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1043609/jobs/named/trucks_schedule_features_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x16400dc70>, None)

In [25]:
df_traffic['event_date'] = pd.to_datetime(df_traffic['event_date'])

In [26]:

feature_group_traffic = fs.create_feature_group(
    name='traffic_features',
    version=1,
    description='Features from Dataset trucks',
    primary_key=['index'],  # Set the primary keys for the dataset
    online_enabled=True,
    event_time='event_date'# If you want online feature serving
)

# Insert data into feature group
feature_group_traffic.insert(df_traffic)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1043609/fs/1035336/fg/1203538

Uploading Dataframe: 0.00% |          | Rows 0/2459682 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: traffic_features_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1043609/jobs/named/traffic_features_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x16401f920>, None)

In [27]:
df_routes_weather['event_date'] = pd.to_datetime(df_routes_weather['event_date'])

In [28]:

feature_group_routes_weather = fs.create_feature_group(
    name='routes_weather_features',
    version=1,
    description='Features from Dataset routes_weather',
    primary_key=['index'],  # Set the primary keys for the dataset
    online_enabled=True,
    event_time='event_date'# If you want online feature serving
)

# Insert data into feature group
feature_group_routes_weather.insert(df_routes_weather)

2024-09-19 13:36:37,574 WARNING: FeatureGroupWarning: The ingested dataframe contains upper case letters in feature names: `['Date']`. Feature names are sanitized to lower case in the feature store.

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1043609/fs/1035336/fg/1204556

Uploading Dataframe: 0.00% |          | Rows 0/396149 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: routes_weather_features_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1043609/jobs/named/routes_weather_features_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x163eebcb0>, None)

In [29]:
df_routes['event_date'] = pd.to_datetime(df_routes['event_date'])

In [30]:

feature_group_routes = fs.create_feature_group(
    name='routes_features',
    version=1,
    description='Features from Dataset routes',
    primary_key=['index'],  # Set the primary keys for the dataset
    online_enabled=True,
    event_time='event_date'# If you want online feature serving
)

# Insert data into feature group
feature_group_routes.insert(df_routes)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1043609/fs/1035336/fg/1202520

Uploading Dataframe: 0.00% |          | Rows 0/2352 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: routes_features_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1043609/jobs/named/routes_features_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x163edb980>, None)

In [32]:
df_drivers['event_date'] = pd.to_datetime(df_drivers['event_date'])

In [34]:

feature_group_drivers = fs.create_feature_group(
    name='drivers_features',
    version=1,
    description='Features from Dataset drivers',
    primary_key=['index'],  # Set the primary keys for the dataset
    event_time='event_date'
    # If you want online feature serving
)

# Insert data into feature group
feature_group_drivers.insert(df_drivers)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1043609/fs/1035336/fg/1203547

Uploading Dataframe: 0.00% |          | Rows 0/1283 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: drivers_features_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1043609/jobs/named/drivers_features_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x163f771d0>, None)

In [35]:
df_city_weather['event_date'] = pd.to_datetime(df_city_weather['event_date'])

In [38]:

feature_group_city_weather = fs.create_feature_group(
    name='city_weather_features',
    version=1,
    description='Features from Dataset city_weather',
    primary_key=['index'],  # Set the primary keys for the dataset
    event_time='event_date' 
)

# Insert data into feature group
feature_group_city_weather.insert(df_city_weather)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1043609/fs/1035336/fg/1202535

Uploading Dataframe: 0.00% |          | Rows 0/51834 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: city_weather_features_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1043609/jobs/named/city_weather_features_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x16400fd10>, None)